:root {
    // 当前主题通用值
    --gc-theme: #ffffff;
    // 主背景色
    --gc-bg: #f6f7fb;
    // 文字颜色
    --gc-text: #36474f;
    // 文字颜色-white
    --gc-text-white: #ffffff;
    // i标签的颜色
    --gc-i: var(--gc-theme);
    //  边框颜色
    --gc-border: #eaecef;
    // 左侧菜单-背景颜色
    --gc-side-menu-bg: #171717;
    // 左侧菜单-搜索区域-背景颜色
    --gc-side-menu-top-title-bg: var(--gc-side-nest-menu-item-bg);
    // 左侧菜单-内容-背景颜色
    --gc-side-menu-container-bg: var(--gc-side-menu-bg);
    // 左侧菜单-头部svg-背景颜色
    --gc-side-menu-svg-bg: var(--gc-side-menu-bg);
    // 左侧菜单-目录项-背景颜色
    --gc-side-menu-title-bg: var(--gc-side-menu-bg);
    // 左侧菜单-目录项-激活状态-背景颜色
    --gc-side-menu-title-active-bg: var(--gc-side-menu-bg);
    // 左侧菜单-菜单项-背景颜色
    --gc-side-menu-item-bg: var(--gc-side-menu-bg);
    // 左侧菜单-展开状态-菜单项-背景颜色
    --gc-side-nest-menu-item-bg: #232323;
    // 左侧菜单透明度
    --gc-opacity: 1;
    // vue-router-tab-背景颜色
    --gc-router-tab-bg: var(--gc-theme);
    // vue-router-tab-文字颜色
    --gc-router-tab-span: #37474f;
    // 整体区域-背景颜色
    --gc-main-bg: #e4e4e4;
    // 内容区域-背景颜色
    --gc-content-bg: var(--gc-theme);
    // 滚动条-颜色
    --gc-scroll: #dddddd;
    // element-组件
    --gc-element: var(--gc-theme);
    // element-组件-disable(禁用)状态
    --gc-element-disable: #edf2fc;
    //element-checked
    --gc-element-checked: #e8e8e8;
    // element-组件-边框
    --gc-element-border: #e8e8e8;
    // element-组件-下边框
    --gc-element-border-bottom: var(--gc-element-border);
    // element-组件头部
    --gc-element-header-bg: #fafafa;
    // element-滚动条(scroll)-margin-bottonm
    --gc-element-scrollbar-margn-bottom: 0px;
  }

  :root[theme='dark'] {
    // 当前主题通用值
    --gc-theme: #232832;
    --gc-theme-hover-active: #35393f;
    // 主背景色
    --gc-bg: #151A26;
    // 文字颜色
    --gc-text: #ffffff;
    // 文字颜色-white
    // --gc-text-white:var(--gc-theme)
    // i标签的颜色
    --gc-i: var(--gc-text);
    //  边框颜色
    --gc-border: var(--gc-bg);
    // 是否需要边框
    --gc-border-none: none;
    // 头部菜单-背景颜色
    --gc-header-menu-bg: var(--gc-theme);
    // 左侧菜单-背景颜色
    --gc-side-menu-bg: var(--gc-theme);
    // 左侧菜单-内容-背景颜色
    --gc-side-menu-container-bg: var(--gc-bg);
    // 左侧菜单-搜索区域-背景颜色
    --gc-side-menu-top-title-bg: var(--gc-side-menu-item-bg);
    // 左侧菜单-头部svg-背景颜色
    --gc-side-menu-svg-bg: #1b202b;
    // 左侧菜单-头部svg-hover状态-背景颜色
    --gc-side-menu-svg-hover-bg: var(--gc-theme-hover-active);
    // 左侧菜单-收起状态-svg-背景颜色
    --gc-side-menu-svg-close-bg: var(--gc-side-menu-svg-bg);
    // 左侧菜单-目录项-背景颜色
    --gc-side-menu-title-bg: var(--gc-side-menu-container-bg);
    // 左侧菜单-目录项-激活状态-背景颜色
    --gc-side-menu-title-active-bg: var(--gc-theme-hover-active);
    // 左侧菜单-菜单项-背景颜色
    --gc-side-menu-item-bg: var(--gc-theme);
    // 左侧菜单-展开状态-菜单项-背景颜色
    --gc-side-nest-menu-item-bg: var(--gc-theme);
    // 左侧菜单透明度
    --gc-opacity: 0.6;
    // vue-router-tab-背景颜色
    --gc-router-tab-bg: #1d222d;
    // vue-router-tab 选中项上边框的颜色
    --gc-router-tab-active-border-top: var(--gc-router-tab-bg);
    // vue-router-tab-文字颜色
    --gc-router-tab-span: #87888e;
    // 整体区域-背景颜色
    --gc-main-bg: var(--gc-theme);
    // 内容区域-背景颜色
    --gc-content-bg: var(--gc-theme);
    // 滚动条-颜色
    --gc-scroll: var(--gc-theme-hover-active);
    // element组件
    --gc-element: #35393f;
    // element组件-opacity(透明度)
    --gc-element-opacity: 0.7;
    // element-组件-边框
    --gc-element-border: var(--gc-content-bg);
    // element-组件-下边框
    --gc-element-border-bottom: #10141E;
    // element-组件-disable(禁用)状态
    --gc-element-disable: #87888e;
    //element-hover(悬停)状态
    --gc-element-hover: var(--gc-theme-hover-active);
    //element-checked
    --gc-element-checked: #e8e8e8;
    // element-组件头部
    --gc-element-header-bg: #2e323a;
    // element-滚动条(scroll)-margin-bottonm
    --gc-element-scrollbar-margn-bottom: -15px;
  }
