/* theme color */
@import "./common/gc-var";

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "./common/reset";
// 布局样式
.app-container {
  height: 100% !important;
  width: 100%;
  position: absolute;
  box-sizing: border-box;

  .inner-container {
    height: 100% !important;
    background: #ffffff;

    .filter-container {
      padding: 16px 16px 6px;

      .filter-item:not(:last-child) {
        margin-right: 10px;
      }

      .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
      }

      .el-input {
        width: auto;
      }

      .el-select {
        width: auto;
      }
    }

    // page页样式
    .page-container {
      padding: 0 0 4px 16px;
    }

    //输入框样式
    .el-input__inner {
      height: 30px;
      line-height: 30px;
      font-size: 12px;
    }

    .el-input__icon {
      line-height: 30px;
    }

    .el-form {
      .el-input__inner {
        width: 300px;
      }

      .el-select {
        .el-input__inner {
          width: auto;
        }
      }
    }

    //时间选择器样式
    .el-date-editor .el-range-input {
      height: 94%;
      font-size: 12px;
    }

    .el-date-editor .el-range__icon {
      line-height: 26px;
    }

    .el-date-editor .el-range-separator {
      line-height: 26px;
      font-size: 12px;
    }
  }


  //表格样式
  .table-box {
    padding: 0 16px 8px;
    .el-table {
      overflow-y: auto!important;
      th.is-leaf {
        //border-bottom: 2px solid #007aff;
        background-color: var(--gc-element-header-bg);
      }

      th>.cell {
        padding-left: 14px;
      }

      th.gutter {
        background-color: #fafafa;
      }

      tr:last-child td {
        border-bottom: none;
      }

      /* 滚动条样式设置*/
      .el-table__body-wrapper::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }

      .el-table__body-wrapper::-webkit-scrollbar-corner {
        background: transparent;
      }

      .el-table__body-wrapper::-webkit-scrollbar-track {
        border-radius: 10px;
      }

      .el-table__body-wrapper::-webkit-scrollbar-thumb {
        min-height: 20px;
        background-clip: content-box;
        border: 2px solid transparent;
        border-radius: 10px;
        // background-color: #ddd;
        background-color: var(--gc-scroll);
      }

      .el-table__fixed::before,
      .el-table__fixed-right::before {
        display: none;
      }
    }
  }

}
表格样式

.gc-table {
  margin-bottom: 24px !important;
}

.el-table::before {
  display: none;
}
.el-table thead {
  color: #36474f!important;
}
.el-table td {
  border-bottom: none!important;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #e6f6ff;
}
.el-table .cell {
  line-height: 24px!important;
}

.gc-table--grey th.is-leaf{
  border: none!important;
  background: #f5f5f5;
}

.el-table th, .el-table td{
  padding: 8px 0!important;
}
.table-box {
  .el-table {
    overflow-y: auto!important;
    background-color: transparent!important;
    border: 1px solid #e4e4e4 !important;

    th.is-leaf {
      border-bottom: 2px solid #007aff!important;
      background-color: var(--gc-element-header-bg)!important;
    }

    th>.cell {
      padding-left: 14px!important;
    }

    th.gutter {
      background-color: #fafafa;
    }

     tr td {
       border-bottom: none!important;
       background-color: var(--gc-content-bg) !important;
     }

    tr:last-child td {
      border-bottom: none!important;
    }

    /* 滚动条样式设置*/
    .el-table__body-wrapper::-webkit-scrollbar {
      width: 12px!important;
      height: 12px!important;
    }

    .el-table__body-wrapper::-webkit-scrollbar-corner {
      background: transparent!important;
    }

    .el-table__body-wrapper::-webkit-scrollbar-track {
      border-radius: 10px!important;
    }

    .el-table__body-wrapper::-webkit-scrollbar-thumb {
      min-height: 20px!important;
      background-clip: content-box!important;
      border: 2px solid transparent!important;
      border-radius: 10px!important;
      // background-color: #ddd;
      background-color: var(--gc-scroll)!important;
    }

    .el-table__fixed::before,
    .el-table__fixed-right::before {
      display: none!important;
    }
  }
}
/**
  * elementUI 分页样式修改
 */
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  background-color: transparent!important;
  color: #bfbfbf;

  &:hover {
    color: $--color-primary;
  }
}

.el-pagination.is-background .btn-prev:disabled,
.el-pagination.is-background .btn-next:disabled {
  color: #bfbfbf;
}

.el-pagination__total {
  color: #bfbfbf;
}

.el-pagination .el-select .el-input .el-input__inner {
  border: var(--gc-border-none) !important;
  color: #bfbfbf;

  &:hover {
    color: $--color-primary;
  }
}
//分页样式
.el-pagination {
  text-align: right!important;
  font-weight: normal!important;
}
.el-pager li {
  padding: 0!important;
  min-width: 32px!important;
  height: 32px!important;
  line-height: 32px!important;
  border-radius: 2px!important;
}
.el-pager li:not(.disabled).active {
  background-color: $--color-primary!important;
}
.el-pagination span:not([class*=suffix]), .el-pagination button {
  font-size: 14px!important;
  min-width: 0!important;
  height: 32px!important;
  line-height: 32px!important;
}
.el-pagination .el-input--mini .el-input__inner {
  height: 32px!important;
  line-height: 32px!important;
}
.el-pagination__editor.el-input .el-input__inner {
  height: 32px!important;
}

/*解决el-scroll底部出现空白滚动条*/
.el-scrollbar__wrap{
  overflow-x: hidden!important;
}
// 弹出层，有滚动条下最后一项显示不全
.el-select-dropdown .el-scrollbar .el-select-dropdown__wrap {
  margin-bottom: var(--gc-element-scrollbar-margn-bottom) !important;
}
// dialog设置
.el-dialog__wrapper {
  overflow: hidden !important;
}

.el-dialog {
  margin-bottom: 100px !important;
}

.el-dialog__body {
  padding: 18px 24px !important;
  max-height: calc(90vh - 200px) !important;
  min-height: 200px;
  overflow-y: auto;
}

// dialog头部
.el-dialog__header {
  background: #f5f5f5;
  background-color: #F5F5F5;
  padding: 0 !important;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 700;
  .el-dialog__headerbtn {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
  }
}
.el-dialog__title {
  display: inline-block;
  font-size: 16px;
  border-left: 4px solid $--color-primary;
  padding-left: 16px;
}
.packUpStyle {
  margin: 0 -16px;
  height: 100% !important;
  position: fixed;
  background-color: #f6f7fb;
  display: flex;
}
// 全局表格内部button行样式

.el-table .cell {
  line-height: 22px;
}

.cell .el-button {
  padding: 5px 8px !important;
}
