@font-face {
  font-family: "iconfont-bigscreen"; /* Project id 3958227 */
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont-bigscreen {
  font-family: "iconfont-bigscreen" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-svg:before {
  content: "\e610";
}

.icon-a-1:before {
  content: "\e6b0";
}

.icon-menu:before {
  content: "\ec18";
}

.icon-layer:before {
  content: "\e613";
}

.icon-jichushuju:before {
  content: "\e7d3";
}

.icon-border-outer:before {
  content: "\eb01";
}

.icon-eye:before {
  content: "\e612";
}

.icon-eye-close:before {
  content: "\e600";
}

.icon-zujian:before {
  content: "\e61e";
}

.icon-quxiaoguanlian:before {
  content: "\e703";
}

.icon-zuhe:before {
  content: "\e628";
}

