.bs-theme-table {
  border: 1px solid #e6ebf5;
  background: $bs-theme-component !important;
  background-color: $bs-theme-component !important;

  ::v-deep .el-table__cell {
    background: $bs-theme-component !important;
    background-color: $bs-theme-component !important;

    th.is-leaf {
      background-color: $bs-theme-component !important;
    }

    .cell {
      color: $bs-theme-text !important;
    }

    .el-input__inner {
      color: $bs-theme-text;
      background-color: $bs-theme-bg;

      &::placeholder {
        color: $bs-theme-title;
      }
    }

    .el-checkbox__inner {
      background-color: $bs-theme-bg;
    }

    .el-popper {
      background: $bs-theme-bg !important;
      background-color: $bs-theme-bg !important;
    }
  }
}
