// input
.bs-el-input {
  .el-input__inner {
    border: none;
    color: var(--bs-el-text);
    background: var(--bs-background-1);
    width: 100% !important;
  }

  .el-textarea__inner {
    color: var(--bs-el-text);
    background: var(--bs-el-background);
    border-color: var(--bs-el-border-color);
  }
}

// el-input-number
.bs-el-input-number {
  .el-input__inner {
    width: 100% !important;
    color: var(--bs-el-text);
    background: var(--bs-el-background);
    border-color: var(--bs-el-border-color);
  }
  .el-input-number__decrease {
    background: var(--bs-el-background);
    border-color: var(--bs-el-border-color) !important;
  }
  .el-input-number__increase {
    background: var(--bs-el-background);
    border-color: var(--bs-el-border-color) !important;
  }
}

// button
.bs-el-button-default {
  color: var(--bs-el-text);
  border-color: var(--bs-el-border-color);
  background-color: var(--bs-el-background-2);

  &:hover {
    color: var(--bs-el-hover);
    border-color: var(--bs-el-hover);
    background-color: var(--bs-background-2);
  }
}

// table
.bs-el-table {
  border-color: var(--bs-el-border-color) !important;
  background: var(--bs-background-2);
  background-color: var(--bs-background-2);

  &:before {
    display: none;
  }

  &:after {
    display: none !important;
  }

  ::v-deep .el-table__cell {
    color: var(--bs-el-text) !important;
    border-color: var(--bs-el-border-color) !important;


    th.is-leaf {
      background-color: var(--bs-el-background) !important;
    }

    bs-el-pagination .cell {
      color: var(--bs-el-text) !important;
    }

    .el-input__inner {
      color: var(--bs-el-text);
      background-color: var(--bs-background-1);

      &::placeholder {
        color: var(--bs-el-title);
      }
    }

    .el-checkbox__inner {
      background-color: var(--bs-background-1);
    }

    .el-popper {
      background: var(--bs-background-1) !important;
      background-color: var(--bs-background-1) !important;
    }
  }

  td.el-table__cell {
    background-color: var(--bs-background-2) !important;

  }

  .el-table__cell.is-leaf {
    background-color: var(--bs-el-background-3) !important;
  }
}

// card
.bs-el-card {
  background-color: var(--bs-el-background) !important;
}

// select
.bs-el-select {
  border-color:var(--bs-el-border-color) ;
  background-color: var(--bs-el-background) !important;

  .el-select-dropdown__item {
    color: var(--bs-el-title);
  }

   .popper__arrow {
    border-bottom-color: var(--bs-el-background) !important;
    &:after{
      top: 1px;
      margin-left: -6px;
      border-top-width: 0;
      border-bottom-color:  var(--bs-el-background) !important;
    }
}
  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    color: #007aff;
    background-color: var(--bs-el-background);
  }

  .el-input__inner {
    border-color: var(--bs-el-border-color);
    background: var(--bs-el-background);
    background-color: var(--bs-el-background);
    color: var(--bs-el-text);
  }

  .el-select-dropdown__item.selected {
    color: #007aff;
    background-color: var(--bs-el-background);
  }
}

// dialog
.bs-el-dialog {
  background: var(--bs-background-2);

  .el-dialog__header {
    background: var(--bs-background-2);
    background-color: var(--bs-background-2);
    border-bottom: 2px solid var(--bs-background-1);
    .el-dialog__title {
      color: var(--bs-el-title);
    }
  }

}

// tree
.bs-el-tree {
  background-color: var(--bs-el-background);
  color: var(--bs-el-title);

  .el-tree-node__content:hover {
    background-color: var(--bs-el-hover);
  }

  .el-tree-node.is-current>.el-tree-node__content {
    background-color: var(--bs-el-hover) !important;
  }

}

.bs-el-page-header {
  .el-page-header__content {
    color: var(--bs-el-text);
  }

  padding: 16px 16px 0
}

.bs-el-pagination {
  background: var(--bs-background-2);

  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    background: var(--bs-el-hover);
  }

  ::v-deep .el-select-dropdown {
    background: var(--bs-el-background);
  }

  ::v-deep .el-input__inner {
    border-color: var(--bs-el-border-color);
  }
}

.bs-el-message-box {
  background: var(--bs-background-1);
  .el-message-box__title{
    color: var(--bs-el-title);
  }
  p {
    color: var(--bs-el-text);
  }
   .el-button--default {
    color: var(--bs-el-text);
    border-color: var(--bs-el-border-color);
    background-color: var(--bs-el-background-2);

    &:hover {
      color: var(--bs-el-hover);
      border-color: var(--bs-el-hover);
      background-color: var(--bs-background-2);
    }
  }
  .el-button--primary{
    color: #FFFFFF;
    background-color: #409EFF;
    border-color: #409EFF;
    &:hover {
      color: #FFFFFF;
      background-color: #66b1ff;
      border-color: #66b1ff;
    }
  }
}

.bs-title-style {
  color: var(--bs-el-title) !important;
  background-color: var(--bs-el-background) !important;

  .field-item {
    color: var(--bs-el-text);
    background-color: var(--bs-el-background);

    &:hover {
      background-color: var(--bs-el-hover) !important;
    }
  }
}


.bs-field-wrap {
  .field-item {
    color: var(--bs-el-text);
    background-color: var(--bs-el-background);

    &:hover {
      background-color: var(--bs-el-hover) !important;
    }
  }
}
