// table
.bs-el-table {
  border: 1px solid #e6ebf5;
  background: var(--bs-theme-component) !important;
  background-color: var(--bs-theme-component) !important;

  ::v-deep .el-table__cell {
    background: var(--bs-theme-component) !important;
    background-color: var(--bs-theme-component) !important;

    th.is-leaf {
      background-color: var(--bs-theme-component) !important;
    }

    .cell {
      color: var(--bs-theme-text) !important;
    }

    .el-input__inner {
      color: var(--bs-theme-text);
      background-color: var(--bs-theme-bg);

      &::placeholder {
        color: var(--bs-theme-title);
      }
    }

    .el-checkbox__inner {
      background-color: var(--bs-theme-bg);
    }

    .el-popper {
      background: var(--bs-theme-bg) !important;
      background-color: var(--bs-theme-bg) !important;
    }
  }
}

// card
.bs-el-card {
  background-color: var(--bs-theme-component) !important;
}

// select
.bs-el-select {
  background-color: var(--bs-theme-bg) !important;

  .el-select-dropdown__item {
    color: var(--bs-theme-title);
  }

  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    color: #007aff;
    background-color: var(--bs-theme-component);
  }

  .el-input__inner {
    background: var(--bs-theme-bg);
    background-color: var(--bs-theme-component);
    color: var(--bs-theme-text);
  }

  .el-select-dropdown__item.selected {
    color: #007aff;
    background-color: var(--bs-theme-component);
  }
}

// dialog
.bs-el-dialog {
  background: var(--bs-theme-bg) !important;

  .el-dialog__header {
    background: var(--bs-theme-component);
    background-color: var(--bs-theme-component);

    .el-dialog__title {
      color: var(--bs-theme-title);
    }
  }

}

// tree
.bs-el-tree {
  background-color: var(--bs-theme-component);
  color: var(--bs-theme-title)
}

.bs-title-style{
  color: var(--bs-theme-title) !important;
  background-color:var(--bs-theme-component) !important;
  .field-item:hover{
    background-color: var(--bs-theme-hover) !important;
  }
}


.bs-field-wrap{
  .field-item:hover{
    color: var(--bs-theme-text);
    background-color: var(--bs-theme-hover) !important;
  }
}